@page
@model AvondaleCollege.Views.Shared.DepartmentsModel
@{
}
<div class="text-center">
    <h1 class="display-4">Departments</h1>
    These are the subjects we offer here and Avondale College
</div>
