@page
@model AvondaleCollege.Views.Shared.DepartmentsModel
@{
}
    <div class="container">
        
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
           <h1>Department</h1>
        </div>
    </div>