@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Avondale College</h1>
    Welocome to the Avondale College web page where you can learn more about our school.
</div>
